body {
    background-color: #ccccff;
}
#flex {
    display: flex;
    flex-direction: row;
}

nav {
    background-color:#ccffff;
}
main {
    background-color:#ffffff;
}
h1 {
    color: #6600ff;
}
nav {
    color: #001100;
}